<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SENSITIVE_NOTIFICATIONS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Requires this permission if the app wants to read its own notifications. But NotificationListenerService needs BIND_NOTIFICATION_LISTENER_SERVICE on the service itself -->

    <queries>
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.readdle.spark" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.instagram.android" />
        <package android:name="com.google.android.dialer" />
        <package android:name="com.android.dialer" />
        <package android:name="com.samsung.android.dialer" />
        <package android:name="com.android.phone" />
        <package android:name="com.android.server.telecom" />
        <package android:name="com.android.contacts" />
        <package android:name="com.google.android.keep" />
        <package android:name="notion.id" />
        <package android:name="com.anthropic.claude" />
        <package android:name="com.google.android.apps.bard" />
        <package android:name="com.google.android.apps.recorder" />
        <package android:name="org.telegram.messenger" />
        <package android:name="org.thunderdog.challegram" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.valvesoftware.android.steam.community" />
        <package android:name="com.valvesoftware.steamchat" />
        <package android:name="com.valvesoftware.android.steam.friendsui" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.twitter.android" />
        <package android:name="com.microsoft.teams" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_manila"
        android:roundIcon="@mipmap/ic_launcher_manila_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Conduit"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Conduit"
            android:allowEmbedded="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true">
        </activity>

        <activity-alias
            android:name=".MainActivityLegacy"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityManila"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_manila"
            android:roundIcon="@mipmap/ic_launcher_manila_round"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityDark"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_dark"
            android:roundIcon="@mipmap/ic_launcher_dark_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityBlue"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_blue"
            android:roundIcon="@mipmap/ic_launcher_blue_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service android:name=".HubNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name=".widget.ConduitWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/conduit_widget_info" />
        </receiver>

        <activity android:name=".widget.ConduitWidgetClickActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:excludeFromRecents="true"
            android:taskAffinity="" />

        <service android:name=".widget.ConduitWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="true" />

    </application>

</manifest>
